<p-toast></p-toast>
<div class="container justify-content-center shadow-2">
  <p-fieldset legend="Cadastro de Artistas" class="fieldset-artist">
    <form class="app-form artist-form" [formGroup]="artistForm">
      <div  class="grid">
        <div class="col-12 sm:col-12 md:col-12 lg:col-6">
          <span class="p-float-label">
            <input class="fullWidth" type="text" pInputText formControlName="name" required>
              <label for="inputtext">Band</label>
              <small *ngIf="camposForm.name.errors?.required && formSubmitted" class="p-error block">Campo
                obrigatório</small>
            </span>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-6">
          <span class="p-float-label">
            <input class="fullWidth" type="text" pInputText formControlName="country" required>
              <label for="inputtext">Country</label>
              <small *ngIf="camposForm.country.errors?.required && formSubmitted" class="p-error block">Campo
                obrigatório</small>
            </span>
        </div>



      </div>
      <div class="grid">
        <div class="col-12 sm:col-12 md:col-12 lg:col-6">
            <button pButton label="Salvar" icon="pi pi-check" class="btn-salvar" 
                    (click)="save()" [disabled]="!artistForm.valid"></button>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-6">
          <button pButton label="Adicionar Outro" icon="pi pi-plus-circle" 
                  class="p-button-success btn-adicionar-outro" 
                  (click)="saveAnother()" [disabled]="!artistForm.valid"></button>
        </div>
      </div>
    </form>
  </p-fieldset>
  </div>
