<p-toast></p-toast>
<p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <h3>Exclusão de Álbum</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton class="cd-btn-cancel" icon="pi pi-times" label="Cancelar"
      (click)="cd.reject()"></button>
    <button type="button" pButton class="cd-btn-remove" icon="pi pi-trash" label="Remover"
      (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<div class="p-fluid grid">
  <div class="col-6 col-offset-3">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button label="Cadastrar Item" routerLink="/items/create" icon="pi pi-plus" styleClass="p-button-success">
        </p-button>
      </div>
    </p-toolbar>
  </div>
</div>

<div class="container justify-content-center shadow-2">
  <p-fieldset legend="Cds" class="col-12 sm:col-12 md:col-12 lg:col-6">
    <div *ngIf="items; else loading">
      <p-table [value]="items"
        styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" selectionMode="single"
        [(selection)]="selectedItem" dataKey="id"
        styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll" [rows]="30"
        [paginator]="true" [responsive]="true" #tabela (onRowSelect)="getCoverFromAlbum($event)"
        [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} produtos.">


        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">Band/Artist <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon>
            </th>
            <th pSortableColumn="releaseYear">Release Year <p-sortIcon field="releaseYear"></p-sortIcon>
            </th>
            <th pSortableColumn="genre">Genre <p-sortIcon field="genre"></p-sortIcon>
            </th>
            <th pSortableColumn="category" style="width:10%">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="country">Country<p-sortIcon field="country"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr [pSelectableRow]="item">
                         <td>{{item.artist?.name}}</td>
             <td class="col-title">{{item.title}}</td>
             <td>{{item.releaseYear}}</td>
             <td>{{item.genre}}</td>
             <td class="col-category">{{item.category?.name}}</td>
             <td>{{item.artist?.country}}</td>
            <td>
              <a role="button" class="a-edit-item" routerLink="/items/create/{{item.id}}">
                <i class="pi pi-pencil"></i>
              </a>
              <a role="button" class="a-delete-item" (click)="delete(item)">
                <i class="pi pi-trash"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </ng-template>
         <p-dialog header="Capa do Álbum" [(visible)]="display" [modal]="true" [style]="{width: 'auto'}" [draggable]="false" [resizable]="false">
      <div class="album-cover-container" *ngIf="retrievedImage">
        <img [src]="retrievedImage" alt="Capa do álbum" class="album-cover-image"
             (error)="onImageError($event)"
             (load)="onImageLoad($event)">
      </div>
    </p-dialog>

  </p-fieldset>

</div>
