:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    width: 260px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.p-button-info {
  margin: 5px 5px 5px 5px;

}

.p-button-danger {
  margin: 5px 5px 5px 5px;

}

.cd-btn-cancel {
  background-color: rgb(117, 117, 117);
}

.cd-btn-remove {
  background-color: #EF4444;
}
