<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div>
  <div *ngIf="categorias$ | async as categorias; else loading">
    <p-table [value]="categorias" styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Categoria</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td>{{ categoria.name }}</td>
          <td>
            <button pButton 
                    type="button" 
                    icon="pi pi-pencil" 
                    iconPos="left" 
                    class="p-button-info p-button-sm">
            </button>
            <button pButton  
                    type="button" 
                    icon="pi pi-trash" 
                    iconPos="left" 
                    class="p-button-danger p-button-sm"
                    label="Confirm" 
                    (click)="delete(categoria)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>
